.article-detail {
  background-color: #fff;
  padding: 20px;
}
.title {
  font-size: 24px;
  color: #eee;
}

.variable-binding {
  display: block;
  background-color: #fff;
  p img {
    width: 100%;
  }
}

.markdown::ng-deep img {
  width: 100%;
}