@import "../../../../app.component.scss";

.flex-h-flex-start-nowrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .title {
    font-size: 24px;
    color: #eee;
  }

  .tag {
    text-align: right;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    font-family: "Lato";
    margin-bottom: 8px;
    color: #ffb74d;
    padding-right: 10px;
    cursor: pointer;
    transition: .3s ease;
    transform-origin: right center;
    position: relative;
    overflow: hidden;
  }

  .tag:hover {
    // background: rgba(255, 183, 77, .1);
    transform: scale(1.1);
    box-shadow:
      3px 0 0 0 rgba(255, 183, 77, .1),
      2px 0 0 0 rgba(255, 183, 77, .1),
      1px 0 0 0 rgba(255, 183, 77, .1)
    ;
  }
  .tag::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    background: rgba(255, 183, 77, .1);
    transition: .3s ease;
    z-index: 2;
  }

  .tag:hover::before {
    transform: translateX(10%);
    background: rgba(255, 183, 77, .1);
  }
  .active-tag {
    transform: scale(1.1);
    color: #ff5722;
  }
  .active-tag::before, .active-tag:hover::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%) ;
    background: rgba(255, 87, 34, .1);
    transition: .3s ease;
    z-index: 2;

    -webkit-animation: moaskAnimation .4s ease-in-out;
    -moz-animation: moaskAnimation .4s ease-in-out;
    -o-animation: moaskAnimation .4s ease-in-out;
    animation: moaskAnimation .4s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
  // .active-tag:hover::before {
  //   color: #ff5722;
  //   background: rgba(255, 87, 34, .1);
  //   transform: scale(1.1);
  //   position: relative;
  //   box-shadow:
  //     3px 0 0 0 rgba(255, 87, 34, .1),
  //     2px 0 0 0 rgba(255, 87, 34, .1),
  //     1px 0 0 0 rgba(255, 87, 34, .1)
  //   ;
  // }

  .tag-box {
    width: 200px;
    padding: 10px 0 10px 10px;
    border-right: 1px solid #ffe0b2;
    box-shadow:
      3px 0 0 0 rgba(225, 224, 178, .1),
      2px 0 0 0 rgba(225, 224, 178, .2),
      1px 0 0 0 rgba(225, 224, 178, .3)
    ;
  }

  .content-box {
    width: 100%;
    padding: 10px;
    margin-left: 10px
  }
  .version-article {
    margin-top: 10px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ffe0b2;
    border-radius: 10px;
    position: relative;
    width: 50%;
    transition: .3s ease-in;
    cursor: pointer;
  }

  .more-info {
    height: 0;
    overflow: hidden;
    transition: .3s ease-in;
  }

  .version-article:hover .more-info {
    height: auto;
  }

  .version-article-left_arrow {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    width:0;
    height: 0;
    border: #ffb74d 10px solid;
    border-top-color: rgba(255,255,255, 0);
    border-right-color: rgba(255,255,255, 0);
    border-bottom-color: rgba(255,255,255, 0);
  }
  .version-article-right_arrow {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    width:0;
    height: 0;
    border: #ffb74d 10px solid;
    border-top-color: rgba(255,255,255, 0);
    border-left-color: rgba(255,255,255, 0);
    border-bottom-color: rgba(255,255,255, 0);
  }

  .left-article {
    margin: 0;
    margin-left: -24px;
  }
  // .left-article:hover {
  //   transform: scale(1.1) translateX(-10%);
  // }
  .right-article {
    margin-left: 50%;
    transform: translateX(18px)
  }
  // .right-article:hover {
  //   transform: scale(1.1) translateX(10%);
  // }

  @keyframes moaskAnimation {
    0% {
        transform: translateX(100%) scale(1.1);
    }

    100% {
        transform: translateX(0) scale(1.1);
    }
  }

  .y {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background: #ffb74d;
  }