<div class="flex-h-center m-t-15 m-b-15"> 
    至 {{ today | amDateFormat: 'YYYY-MM-DD' }}, 发表了 {{ count }} 文章 
</div>
<div class="flex-h-flex-start-nowrap">
    <div class="content-box" #versionBox>
        <div #line class="y">

        </div>
        <div *ngFor="let article of aggregateList; let i = index"
            [ngClass]="[i % 2 === 0 ? 'left-article version-article' : 'right-article version-article']">
            <div [ngClass]="[ i % 2 === 0 ? 'version-article-left_arrow' : 'version-article-right_arrow']"></div>
            {{ article.time }}
            <ul>
                <li *ngFor="let item of article.articles">
                    <h2> {{ item.title }} </h2>
                    <div>
                        create: {{ item.createTime | amDateFormat:'hh:mm:ss' }}
                    </div>

                    <div>
                        update: {{ item.updateTime | amDateFormat:'hh:mm:ss' }}
                    </div>

                    <div>
                        version: {{ item.version }}
                    </div>
                    <div>
                        <a class="navbar-brand" [routerLink]="'/article/' + item._id " routerLinkActive="active"> 查看 </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>