
<div class="flex-h-flex-start-nowrap">
    <!-- <div class="tag-box flex-shrink-0">
        <div
          *ngFor="let tag of tags"
          [ngClass]="[currentTag.value === tag.value ? 'active-tag' : '']"
          class="tag"
          (click)="change(tag)"
        >
            {{ tag.text }}
        </div>
    </div> -->
    <div class="content-box">
            <div class="y">

            </div>
            <div
              *ngFor="let article of articles; let i = index"
              [ngClass]="[i % 2 === 0 ? 'left-article version-article' : 'right-article version-article']"
              >
                <div [ngClass]="[ i % 2 === 0 ? 'version-article-left_arrow' : 'version-article-right_arrow']"></div>
                {{ article.title }}
                <ul>
                    <li>
                        create: {{ article.createTime | amDateFormat:'YYYY/MM/DD hh:mm:ss' }}
                    </li>
                    <li>
                        update: {{ article.updateTime | amDateFormat:'YYYY/MM/DD hh:mm:ss' }}
                    </li>
                    <li>
                        version: {{ article.version }}
                    </li>
                </ul>
                <div>
                  <a class="navbar-brand" [routerLink]="'/article/' + article._id " routerLinkActive="active"> 查看 </a>
                </div>
            </div>
    </div>
</div>
