<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

.body {
  width: 800px;
  margin: 0 auto;
}
</style>
<div class="body">
  <nav class="flex-h-center">
    <a class="navbar-brand" [routerLink]="'/'" routerLinkActive="active"> home </a>
    <a class="navbar-brand" [routerLink]="'/article'" routerLinkActive="active"> article </a>
  </nav>
  <div class="width-full">
        <router-outlet class="width-full"></router-outlet>
  </div>
</div>



