<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

.body {
  width: 800px;
  margin: 0 auto;
}

a{outline:none;}

a:active{outline: none;background: #eee;}

a:focus{outline:0;}
</style>
<div class="body">
  <nav class="flex-h-center">
    <a class="nav" [routerLink]="'/'"> home </a>
    <a class="nav" [routerLink]="'/article'" > article </a>
  </nav>
  <div class="width-full">
        <router-outlet class="width-full"></router-outlet>
  </div>
  <div>
    <footer-component></footer-component>
  </div>
</div>



