div, h1, span, ul, li, p {
  font-family:PingFangSC-Regular,PingFang SC;
  /* font-size: 12px; */
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.prosition-relative {
  position: relative;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.flex-h-space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-h-flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.flex-h-flex-start-nowrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.flex-h-flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-h-space-between-flex-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.flex-h-space-between-flex-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-shrink-0 {
  flex-shrink: 0; /* 空间不足时，不能缩小该 item */
}
.flex-h-flex-start-center-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.flex-h-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-v-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-v-flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.flex-h-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.width-full {
  width: 100%;
}


.text-user_title {
  font-size:14px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(0,0,0,0.85);
}

.text-user {
  /* width:35px; */
  height:11px;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(0,0,0,0.85);
  line-height:11px;
}
.text-user_sub {
  font-size: 12px;
  color: rgba(0,0,0,0.65);
}

.cursor-pointer {
  cursor: pointer;
}

.ant-input-number {
  font-size: 12px;
  line-height: 30px;
  height: 30px;
  width: 100%;
}

.flex-h-flex-start-center input {
  font-size: 12px;
  /* line-height: 30px;
  height: 30px; */
}
.ant-input {
  font-size: 12px !important;
}
.pointer{
  pointer-events:none;
}

.tabel-tab_container .ant-radio-button-wrapper,
.ant-radio-wrapper {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}

.full-container,
.full-container .ant-input {
  width: 100%
}


.ant-steps-item-title {
  font-size: 14px
}


.m-l-10 {
  margin-left: 10px
}
.m-r-10 {
  margin-right: 10px
}
.m-t-10 {
  margin-top: 10px
}
.m-b-10 {
  margin-bottom: 10px
}
.m-l-15 {
  margin-left: 15px
}
.m-r-15 {
  margin-right: 15px
}
.m-t-15 {
  margin-top: 15px
}
.m-b-15 {
  margin-bottom: 15px
}
.m-l-20 {
  margin-left: 20px
}
.m-r-20 {
  margin-right: 20px
}
.m-t-20 {
  margin-top: 20px
}
.m-b-20 {
  margin-bottom: 20px
}


.p-l-10 {
  padding-left: 10px
}
.p-r-10 {
  padding-right: 10px
}
.p-t-10 {
  padding-top: 10px
}
.p-b-10 {
  padding-bottom: 10px
}
.p-10 {
  padding: 10px;
}
.p-l-15 {
  padding-left: 15px
}
.p-r-15 {
  padding-right: 15px
}
.p-t-15 {
  padding-top: 15px
}
.p-b-15 {
  padding-bottom: 15px
}
.p-l-15 {
  padding-left: 15px
}
.p-15 {
  padding: 15px;
}
.p-l-20 {
  padding-left: 20px
}
.p-r-20 {
  padding-right: 20px
}
.p-t-20 {
  padding-top: 20px
}
.p-b-20 {
  padding-bottom: 20px
}

.p-20 {
  padding: 20px;
}

.bg-white {
  background: #fff;
}

.normal {
  color: #ccc;
  transition: .3s ease;
}
.normal:hover {
  color: #666;
  transition: .3s ease;
}

.active, .active:hover {
  background: #fff;
  color: #222;
}
