<div>
  节点图：
  <h2>V1</h2>
  <img src="https://smartblog.pengjiandry.com/file/1586603759792/server_v1.png" alt="">
  <h3>问题：</h3>
  <ul>
    <li> 
      只有一台服务器，这台服务器的配置比较低，1G1核，1M 宽带，在国内访问的时候需要10s以上，有时候会更久
    </li>
    <li> 
      在运维的过程中也比较麻烦，使用 ssh 登录香港服务器的时候，由于网络状态的影响，经常断开，打断正常的操作
    </li>
    <li> 
      部署代码的时候也是需要很长的时候（github webhook 部署）
    </li>
  </ul>
  <hr />
  <h2>V2</h2>
  <img src="https://smartblog.pengjiandry.com/file/1586603832007/server_v2.png" alt="">
  <h3>针对 V1 的问题，我们新增了一台大陆的服务器，这台服务器位于深圳，1G1核，1M 宽带</h3>
  <ul>
    <li>访问速度大幅提高</li>
    <li>运维过程很流畅</li>
    <li>不过由于源代码存放依然实在香港服务器上，部署的时候依然很慢</li>
  </ul>
</div>
